{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-me.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="about-me">
      <img
        class="about-me-child"
        loading="lazy"
        alt=""
        src="{% static 'public/group-2@2x.png' %}"
      />

      <div class="about-me-inner">
        <div class="frame-parent2">
          <div class="about-parent">
            <h1 class="about-me1">About Me</h1>
          </div>
          <div class="lorem-ipsum-dolor-container">
            <p class="lorem-ipsum-dolor">
              I’m Alex Hernández, an AI engineer and software developer passionate about 
    machine learning, data science, and web development. I specialize in 
    optimizing AI models and creating innovative solutions that drive impact.
            </p>
            <p class="lorem-ipsum-dolor">&nbsp;</p>
            <p class="lorem-ipsum-dolor">
              With expertise in Python, React, and deep learning frameworks like TensorFlow 
              and PyTorch, I build scalable and efficient applications. My work spans from 
              AI-driven automation to web development, including my own company focused 
              on digital solutions.
            </p>
            <p class="lorem-ipsum-dolor">&nbsp;</p>

            <p class="lorem-ipsum-dolor">
              Always eager to explore cutting-edge technologies, I collaborate on 
              open-source projects, develop AI applications, and contribute to 
              the advancement of intelligent systems.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
