{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poly:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="background">
      <div class="header">
          <h1 class="title12">education</h1>
            <h1 class="title13">certificates</h1>
            <h1 class="title14-responsive">background</h1>
      </div>
      <section class="main-content">
        <div class="content-left">
          <div class="image-gallery">
            <img
              class="logo_uca"
              loading="lazy"
              alt=""
              src="{% static 'public/logo_uca.png' %}"
            />

            {% comment %} <img
              class="images-removebg-preview-1-icon-2"
              loading="lazy"
              alt=""
              src="{% static 'public/imagesremovebgpreview-1@2x.png' %}"
            />

            <img
              class="images-removebg-preview-1-icon-2"
              loading="lazy"
              alt=""
              src="{% static 'public/imagesremovebgpreview-1@2x.png' %}"
            />

            <img
              class="images-removebg-preview-1-icon-2"
              loading="lazy"
              alt=""
              src="{% static 'public/imagesremovebgpreview-1@2x.png' %}"
            /> {% endcomment %}
          </div>
          <div class="footer">
            <div class="footer-left">
              <h2 class="title14">Bachelor Software engineering</h2>
              <div class="text4">
                <p class="universidad-centroamericana-jo">
                  universidad centroamericana "josé simeón cañas"
                </p>
                <p class="p">graduation AUG 2025</p>
              </div>
            </div>
            <div class="footer-right">
            </div>
          </div>
        </div>
        <div class="content-right">
          <div class="image-gallery">
            <img
              class="images-removebg-preview-1-icon"
              loading="lazy"
              alt=""
              src="{% static 'public/imagesremovebgpreview-1@2x.png' %}"
            />

            <img
              class="images-removebg-preview-1-icon"
              loading="lazy"
              alt=""
              src="{% static 'public/imagesremovebgpreview-1@2x.png' %}"
            />

            <img
              class="images-removebg-preview-1-icon"
              loading="lazy"
              alt=""
              src="{% static 'public/omdena.png' %}"
            />

            <img
              class="images-removebg-preview-1-icon"
              loading="lazy"
              alt=""
              src="{% static 'public/omdena.png' %}"
            />
            <img
              class="images-removebg-preview-1-icon"
              loading="lazy"
              alt=""
              src="{% static 'public/LinkedIn_logo.png' %}"
            />
          </div>
          <div class="footer">
            <div class="footer-left">
              <h2 class="title14">Bootcamp AI/ML engineering</h2>
              <div class="text4">
                <p class="universidad-centroamericana-jo">
                  zero to mastery academy
                </p>
                <p class="p">issued FEB 2024</p>
              </div>
            </div>
            <div class="footer-right">
              <h2 class="title16">Algorithms and data structures</h2>
              <div class="contact-info">
                <div class="contact-details">
                  <p class="universidad-centroamericana-jo">
                    zero to mastery academy
                  </p>
                  <p class="p">issued DEC 2024</p>
                </div>
                <div class="address">
                  <h2 class="title17">Machine Learning Basics</h2>
                </div>
                <div class="contact-details">
                  <p class="universidad-centroamericana-jo">
                    Omdena Academy
                  </p>
                  <p class="p">issued NOV 2024</p>
                </div>
                <div class="address">
                  <h2 class="title17">Data Science and python basics</h2>
                </div>
                <div class="contact-details">
                  <p class="universidad-centroamericana-jo">
                    Omdena Academy
                  </p>
                  <p class="p">issued DEC 2024</p>
                </div>
                <div class="address">
                  <h2 class="title17">AWS for Developers and Linux </h2>
                </div>
                <div class="contact-details">
                  <p class="universidad-centroamericana-jo">
                    LinkedIn Learning
                  </p>
                  <p class="p">issued DEC 2024</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>