{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/c-v.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="cv">
      <div class="title-frame">
        <h1 class="title1">Resume break down</h1>
      </div>
      <main class="left-column-parent">
        <div class="left-column">
          <b class="title2">SKILLS</b>
        </div>
        <section class="mid-column">
          <div class="frame-parent">
            <div class="frame-wrapper">
              <div class="line-parent">
                <div class="frame-child"></div>
                <div class="text">
                  Short text with details about you, what you do or your
                  professional career. You can add more information on the about
                  page.
                </div>
              </div>
            </div>
            <div class="right-column">
              <div class="frame-group">
                <div class="first-resume-ai-1-1-parent">
                  <img
                    class="first-resume-ai-1-1"
                    loading="lazy"
                    alt=""
                    src="{% static 'public/first-resume-ai1-1@2x.png' %}"
                  />

                  <div class="frame-div">
                    <b class="title3">Projects</b>
                  </div>
                </div>
                <div class="frame-item"></div>
              </div>
              <div class="text-wrapper">
                <div class="text1">
                  Short text with details about you, what you do or your
                  professional career. You can add more information on the about
                  page.
                </div>
              </div>
            </div>
          </div>
          <div class="mid-column-inner">
            <div class="download-content-parent">
              <button class="download-content">
                <div class="download-content-child"></div>
                <div class="download">download</div>
              </button>
              <div class="frame-container">
                <div class="frame-parent1">
                  <div class="line-wrapper">
                    <div class="frame-item"></div>
                  </div>
                  <div class="title-parent">
                    <b class="title4">Experience</b>
                    <div class="button-description">
                      Short text with details about you, what you do or your
                      professional career. You can add more information on the
                      about page.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
