{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />


    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poly:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="footer1">
      <div class="rectangle-parent5">
        <div class="frame-child5"></div>
        <div class="frame-wrapper1">
          <img
            class="group-icon"
            loading="lazy"
            alt=""
            src="{% static 'public/profile3-removebg.png' %}"
          />
        </div>
        <div class="titles-parent">
          <div class="titles">
            <h2 class="title19">Alex Hernández</h2>
            <div class="title20">AI Engineer</div>
          </div>
          <div class="phone-parent">
            <div class="phone">
              <img
                class="phone-call-1-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/phonecall-1@2x.png' %}"
              />

              <b class="title21">(+503) 6431-9239</b>
            </div>
            <div class="links">
              <div class="link-icons">
                <img
                  class="bienvelope-fill-icon1"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/bienvelopefill1.svg' %}"
                />

                <div class="link-titles">
                  <a
                    class="title22"
                    href="mailto:luishdezmtz12@gmail.com' %}"
                    target="_blank"
                    >luishdezmtz12@gmail.com</a
                  >
                </div>
              </div>
              <div class="link-icons1">
                <img
                  class="bilinkedin-icon1"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/bilinkedin1.svg' %}"
                />

                <div class="link-titles">
                  <a class="title23" href="https://www.linkedin.com/in/alexmtzai">www.linkedin.com/in/alexmtzai</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
