{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poly:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="projects">
      <div class="frame-wrapper">
        <div class="title-parent">
          <b class="title1">Projects</b>
          <div class="project-description">
            AI solutions, data science, and web design. From optimizing models to 
  crafting digital experiences through my own company, explore my work 
  and innovations.
          </div>
        </div>
      </div>

      <section class="component-6">
        <div class="component-3-child"></div>
        <img
          class="image-icon"
          alt=""
          src="{% static 'public/image@2x.png' %}"
        />

        <div class="component-5-inner">
          <div class="title-container">
            <b class="title5">Billing System</b>
            <div class="lorem-ipsum-dolor-sit-amet-co-parent">
              <div class="lorem-ipsum-dolor2">
                I developed a full-stack billing system using React 
                and a REST API, integrating multiple APIs for seamless communication. 
                Designed and deployed on my own web server, it meets government standards 
                for compliance.
              </div>
              <div class="link-to-project-group">
                <div class="link-to-project1" onclick="opendte()">Link to project</div>
                <button class="rectangle-group" onclick="opendte()">
                  <div class="frame-item" onclick="opendte()"></div>
                  <img
                    class="vector-icon1"
                    alt=""
                    src="{% static 'public/vector.svg' %}"
                    onclick="opendte()"
                  />
                </button>
                
              </div>
            </div>
              <img
                class="image-wrapper-responsive"
                loading="lazy"
                alt=""
                src="{% static 'public/DTE.png' %}"
              />
          </div>
        </div>

        <div class="image-wrapper">
          <img
            class="image-icon3"
            loading="lazy"
            alt=""
            src="{% static 'public/DTE.png' %}"
          />
        </div>
      </section>
      <section class="component-6">
        <div class="component-3-child"></div>
        <img
          class="image-icon"
          alt=""
          src="{% static 'public/image@2x.png' %}"
        />

        <div class="component-5-inner">
          <div class="title-container">
            <b class="title5">LinkedIn AI Bot</b>
            <div class="lorem-ipsum-dolor-sit-amet-co-parent">
              <div class="lorem-ipsum-dolor2">
                An AI-powered bot for networking automation. 
  It finds and connects with professionals, sends requests, posts updates, 
  and responds to messages using a model trained on my own data.
              </div>
              <div class="link-to-project-group">
                <div class="link-to-project1" onclick="openlinkedinbot()">Link to project</div>
                <button class="rectangle-group" onclick="openlinkedinbot()">
                  <div class="frame-item"></div>
                  <img
                    class="vector-icon1"
                    alt=""
                    src="{% static 'public/vector.svg' %}"
                    onclick="openlinkedinbot()"
                  />
                </button>
                
              </div>
            </div>
              <img
                class="image-wrapper-responsive"
                loading="lazy"
                alt=""
                src="{% static 'public/linkedin.png' %}"
              />
          </div>
        </div>

        <div class="image-wrapper">
          <img
            class="image-icon3"
            loading="lazy"
            alt=""
            src="{% static 'public/linkedin.png' %}"
          />
        </div>
      </section>
      <section class="component-6">
        <div class="component-3-child"></div>
        <img
          class="image-icon"
          alt=""
          src="{% static 'public/image@2x.png' %}"
        />

        <div class="component-5-inner-large">
          <div class="title-container">
            <b class="title5-large">Open-Source AI for Healthcare</b>
            <div class="lorem-ipsum-dolor-sit-amet-co-parent">
              <div class="lorem-ipsum-dolor2">
                Contributed to an Omdena project 
  developing a model to predict diseases based on symptoms, focusing on 
  illnesses prevalent in Africa. Worked on data collection, modeling, EDA, 
  training, and result visualization.
              </div>
              <div class="link-to-project-group">
                <div class="link-to-project1">Link to project</div>
                <button class="rectangle-group">
                  <div class="frame-item"></div>
                  <img
                    class="vector-icon1"
                    alt=""
                    src="{% static 'public/vector.svg' %}"
                  />
                </button>
                
              </div>
            </div>
              <img
                class="image-wrapper-responsive-large"
                loading="lazy"
                alt=""
                src="{% static 'public/omdena_medical.jpg' %}"
              />
          </div>
        </div>

        <div class="image-wrapper">
          <img
            class="image-icon3"
            loading="lazy"
            alt=""
            src="{% static 'public/omdena_medical.jpg' %}"
          />
        </div>
      </section>

    </div>
  </body>
</html>
