{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poly:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="projects">
      <div class="frame-wrapper">
        <div class="title-parent">
          <b class="title1">Projects</b>
          <div class="project-description">
            Short text with details about you, what you do or your professional
            career. You can add more information on the about page.
          </div>
        </div>
      </div>

      <section class="component-6">
        <div class="component-3-child"></div>
        <img
          class="image-icon"
          alt=""
          src="{% static 'public/image@2x.png' %}"
        />

        <div class="component-5-inner">
          <div class="title-container">
            <b class="title5">Project 1</b>
            <div class="lorem-ipsum-dolor-sit-amet-co-parent">
              <div class="lorem-ipsum-dolor2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim ve
              </div>
              <div class="link-to-project-group">
                <div class="link-to-project1">Link to project</div>
                <button class="rectangle-group">
                  <div class="frame-item"></div>
                  <img
                    class="vector-icon1"
                    alt=""
                    src="{% static 'public/vector.svg' %}"
                  />
                </button>
                
              </div>
            </div>
              <img
                class="image-wrapper-responsive"
                loading="lazy"
                alt=""
                src="{% static 'public/test1.png' %}"
              />
          </div>
        </div>

        <div class="image-wrapper">
          <img
            class="image-icon3"
            loading="lazy"
            alt=""
            src="{% static 'public/test1.png' %}"
          />
        </div>
      </section>
      <section class="component-6">
        <div class="component-3-child"></div>
        <img
          class="image-icon"
          alt=""
          src="{% static 'public/image@2x.png' %}"
        />

        <div class="component-5-inner">
          <div class="title-container">
            <b class="title5">Project 1</b>
            <div class="lorem-ipsum-dolor-sit-amet-co-parent">
              <div class="lorem-ipsum-dolor2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim ve
              </div>
              <div class="link-to-project-group">
                <div class="link-to-project1">Link to project</div>
                <button class="rectangle-group">
                  <div class="frame-item"></div>
                  <img
                    class="vector-icon1"
                    alt=""
                    src="{% static 'public/vector.svg' %}"
                  />
                </button>
                
              </div>
            </div>
              <img
                class="image-wrapper-responsive"
                loading="lazy"
                alt=""
                src="{% static 'public/test1.png' %}"
              />
          </div>
        </div>

        <div class="image-wrapper">
          <img
            class="image-icon3"
            loading="lazy"
            alt=""
            src="{% static 'public/test1.png' %}"
          />
        </div>
      </section>
      <section class="component-6">
        <div class="component-3-child"></div>
        <img
          class="image-icon"
          alt=""
          src="{% static 'public/image@2x.png' %}"
        />

        <div class="component-5-inner">
          <div class="title-container">
            <b class="title5">Project 1</b>
            <div class="lorem-ipsum-dolor-sit-amet-co-parent">
              <div class="lorem-ipsum-dolor2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim ve
              </div>
              <div class="link-to-project-group">
                <div class="link-to-project1">Link to project</div>
                <button class="rectangle-group">
                  <div class="frame-item"></div>
                  <img
                    class="vector-icon1"
                    alt=""
                    src="{% static 'public/vector.svg' %}"
                  />
                </button>
                
              </div>
            </div>
              <img
                class="image-wrapper-responsive"
                loading="lazy"
                alt=""
                src="{% static 'public/test1.png' %}"
              />
          </div>
        </div>

        <div class="image-wrapper">
          <img
            class="image-icon3"
            loading="lazy"
            alt=""
            src="{% static 'public/test1.png' %}"
          />
        </div>
      </section>

    </div>
  </body>
</html>
