{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />


    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/technologies.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poly:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="technologies">
      <div class="title-wrapper">
        <h1 class="title6">Technologies</h1>
      </div>
      <main class="frame-main">
        <section class="frame-section">
          <div class="group-div">
            <div class="atom-row">
              <img
                class="atom-1-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/atom-1@2x.png' %}"
              />
            </div>
            <div class="title-row">
              <h3 class="title7">React</h3>
              <div class="lorem-ipsum-dolor3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
              </div>
            </div>
          </div>
          <div class="group-div">
            <div class="rectangle-div"></div>
            <div class="atom-row">
              <img
                class="atom-1-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/atom-1@2x.png' %}"
              />
            </div>
            <div class="title-row">
              <h3 class="title7">React</h3>
              <div class="lorem-ipsum-dolor3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
              </div>
            </div>
          </div>
          <div class="group-div">
            <div class="rectangle-div"></div>
            <div class="atom-row">
              <img
                class="atom-1-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/atom-1@2x.png' %}"
              />
            </div>
            <div class="title-row">
              <h3 class="title7">React</h3>
              <div class="lorem-ipsum-dolor3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
              </div>
            </div>
          </div>
        </section>
        <section class="frame-section">
          <div class="group-div">
            <div class="rectangle-div"></div>
            <div class="atom-row">
              <img
                class="atom-1-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/atom-1@2x.png' %}"
              />
            </div>
            <div class="title-row">
              <h3 class="title7">React</h3>
              <div class="lorem-ipsum-dolor3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
              </div>
            </div>
          </div>
          <div class="group-div">
            <div class="rectangle-div"></div>
            <div class="atom-row">
              <img
                class="atom-1-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/atom-1@2x.png' %}"
              />
            </div>
            <div class="title-row">
              <h3 class="title7">React</h3>
              <div class="lorem-ipsum-dolor3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
              </div>
            </div>
          </div>
          <div class="group-div">
            <div class="rectangle-div"></div>
            <div class="atom-row">
              <img
                class="atom-1-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/atom-1@2x.png' %}"
              />
            </div>
            <div class="title-row">
              <h3 class="title7">React</h3>
              <div class="lorem-ipsum-dolor3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
              </div>
            </div>
          </div>
        </section>
{% comment %}         <section class="frame-parent1">
          <div class="rectangle-parent3">
            <div class="frame-child3"></div>
            <div class="atom-row">
              <img
                class="atom-1-icon3"
                loading="lazy"
                alt=""
                src="{% static 'public/atom-1-3@2x.png' %}"
              />
            </div>
            <div class="title-row-two">
              <h3 class="title10">React</h3>
              <div class="lorem-ipsum-dolor6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
              </div>
            </div>
          </div>
          <div class="rectangle-parent4">
            <div class="frame-child3"></div>
            <div class="atom-row">
              <img
                class="atom-1-icon4"
                loading="lazy"
                alt=""
                src="{% static 'public/atom-1-4@2x.png' %}"
              />
            </div>
            <div class="title-parent2">
              <h3 class="title11">React</h3>
              <div class="lorem-ipsum-dolor7">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
              </div>
            </div>
          </div>
        </section> {% endcomment %}
      </main>
    </div>
  </body>
</html>
