{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
  </head>
  <body>
    <div class="profile">
      <div class="div">
        <div class="intro">
          <div class="AI-engineer">AI ENGINEER</div>
          <div class="content">
            <p class="title">Hello,&nbsp;&nbsp;my name is Alex Hernández</p>
            <div class="subheadline">
              <p class="text">
                Short text with details about you, what you do or your professional career. You can add more information
                on the about page.
              </p>
            </div>
            <div class="buttons">
              <div class="button-primary"><div class="text-wrapper">Projects</div></div>
              <div class="button-secondary"><div class="text-2">CV</div></div>
            </div>
          </div>
        </div>
        <header class="header">
          <div class="madelyn-torff">My space AI</div>
          <div class="nav">
            <div class="tab-default"><div class="sobre">Home</div></div>
            <div class="tab-default"><div class="sobre">Projects</div></div>
            <div class="tab-default"><div class="sobre">Presentation</div></div>
            <div class="tab-default"><div class="sobre">about me</div></div>
            <div class="tab-default"><div class="sobre">Skills</div></div>
          </div>
          <div class="footer-icons">
            <div class="icons">
              <img class="img" src="img/ph-instagram-logo-fill.svg" />
              <img class="img" src="img/bi-linkedin.svg" />
              <img class="img" src="img/bi-envelope-fill.svg" />
            </div>
          </div>
        </header>
        <div class="group">
          <div class="overlap-group">
            <div class="ellipse"></div>
            <img
              class="whatsapp-image"
              src="img/whatsapp-image-2024-12-03-at-11-20-48-db451066-removebg-preview-1.png"
            />
          </div>
        </div>
      </div>
    </div>
<!-- Projects -->
    <div class="projects">
        <div class="div">
          <div class="overlap">
            <div class="title">Projects</div>
            <div class="component">
              <div class="overlap-group">
                <div class="overlap-group-2">
                  <div class="rectangle"></div>
                  <div class="text-wrapper">Link to project</div>
                  <img class="vector" src="img/image.svg" />
                  <img class="image" src="img/image-3.png" />
                </div>
                <p class="p">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim ve
                </p>
                <div class="title-2">Project 1</div>
              </div>
            </div>
            <div class="component">
              <div class="overlap-group">
                <div class="overlap-group-2">
                  <div class="rectangle"></div>
                  <div class="text-wrapper">Link to project</div>
                  <img class="vector" src="img/vector.svg" />
                  <img class="image" src="img/image-2.png" />
                </div>
                <p class="p">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim ve
                </p>
                <div class="title-2">Project 1</div>
              </div>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-group">
              <div class="overlap-group-2">
                <div class="rectangle"></div>
                <div class="text-wrapper">Link to project</div>
                <img class="vector" src="img/vector-2.svg" />
                <img class="image" src="img/image.png" />
              </div>
              <p class="p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim ve
              </p>
              <div class="title-2">Project 1</div>
            </div>
          </div>
          <div class="subheadline">
            <p class="text">
              Short text with details about you, what you do or your professional career. You can add more information on
              the about page.
            </p>
          </div>
          <div class="title-3">Projects</div>
        </div>
      </div>
<!-- Technologies -->
<div class="technologies">
    <div class="div">
      <div class="group">
        <div class="overlap-group">
          <div class="title">React</div>
          <p class="text-wrapper">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim
          </p>
          <img class="atom" src="img/image.png" />
        </div>
      </div>
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="title-2">React</div>
          <p class="p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim
          </p>
          <img class="img" src="img/atom-1-4.png" />
        </div>
      </div>
      <div class="overlap-group-wrapper">
        <div class="overlap">
          <div class="title-3">React</div>
          <p class="text-wrapper-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim
          </p>
          <img class="atom-2" src="img/atom-1-3.png" />
        </div>
      </div>
      <div class="div-wrapper">
        <div class="overlap-group">
          <div class="title">React</div>
          <p class="text-wrapper">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim
          </p>
          <img class="atom" src="img/atom-1.png" />
        </div>
      </div>
      <div class="group-2">
        <div class="overlap-group">
          <div class="title">React</div>
          <p class="text-wrapper">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim
          </p>
          <img class="atom" src="img/atom-1-2.png" />
        </div>
      </div>
      <div class="title-4">Technologies</div>
    </div>
  </div>

  
  <!-- Background -->
  <div class="background">       
    <div class="div">         
        <div class="overlap-group">           
            <div class="title">certificates</div>           
            <div class="text-wrapper">education</div>         
        </div>         
        <div class="content">           
            <div class="title-2">Software engineering - Bachelor</div>           
            <div class="subheadline">             
                <div class="flexcontainer">               
                    <p class="text">                 
                        <span class="span">Universidad Centroamericana Jose Simeon Canas<br /></span>               
                    </p>               
                    <p class="text"><span class="span">2020 - 2025</span></p>             
                </div>           
            </div>         
        </div>         
        <div class="content-2">           
            <div class="title-2">Software engineering - UCA</div>           
            <div class="flexcontainer-wrapper">             
                <div class="flexcontainer-2">               
                    <p class="text">                 
                        <span class="span">zero to mastery academy<br /></span>               
                    </p>               
                    <p class="text"><span class="span">issued DEC 2024</span></p>             
                </div>           
            </div>         
        </div>         
        <img class="images-removebg" src="img/images-removebg-preview-1.png" />         
        <div class="content-3">           
            <div class="title-2">Software engineering - UCA</div>           
            <div class="flexcontainer-wrapper">             
                <div class="flexcontainer-2">               
                    <p class="text">                 
                        <span class="span">zero to mastery academy<br /></span>               
                    </p>               
                    <p class="text"><span class="span">issued DEC 2024</span></p>             
                </div>           
            </div>         
        </div>         
        <img class="img" src="img/images-removebg-preview-2.png" />         
        <div class="content-4">           
            <div class="title-2">Software engineering - UCA</div>           
            <div class="flexcontainer-wrapper">             
                <div class="flexcontainer-2">               
                    <p class="text">                 
                        <span class="span">zero to mastery academy<br /></span>               
                    </p>               
                    <p class="text"><span class="span">issued DEC 2024</span></p>             
                </div>           
            </div>         
        </div>         
        <img class="images-removebg-2" src="img/images-removebg-preview-3.png" />         
        <div class="content-5">           
            <div class="title-2">Software engineering - UCA</div>           
            <div class="flexcontainer-wrapper">             
                <div class="flexcontainer-2">               
                    <p class="text">                 
                        <span class="span">zero to mastery academy<br /></span>               
                    </p>               
                    <p class="text"><span class="span">issued DEC 2024</span></p>             
                </div>           
            </div>         
        </div>         
        <img class="images-removebg-3" src="img/images-removebg-preview-4.png" />       
    </div>     
</div>
<!-- Footer -->
<div class="footer">
    <div class="group-wrapper">
      <div class="group">
        <div class="overlap-group">
          <img class="bi-envelope-fill" src="img/bi-envelope-fill.svg" />
          <div class="whatsapp-image-wrapper">
            <img
              class="whatsapp-image"
              src="img/whatsapp-image-2024-12-03-at-11-20-48-db451066-removebg-preview-1.png"
            />
          </div>
          <div class="title">Alex Hernández</div>
          <div class="text-wrapper">AI Engineer</div>
          <div class="div">6431-9239</div>
          <div class="title-2">LinkdIn</div>
          <a href="mailto:luishdezmtz12@gmail.com" target="_blank" rel="noopener noreferrer"
            ><div class="title-3">luishdezmtz12@gmail.com</div></a
          >
          <img class="bi-linkedin" src="img/bi-linkedin.svg" />
          <img class="phone-call" src="img/phone-call-1.png" />
        </div>
      </div>
    </div>
  </div>
<!-- End of the page -->
  </body>
</html>
