{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/video.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
    <script src="{% static 'js/scripts.js' %}"></script>
  </head>
  <body>
    <div class="overlay">
      <div class="loader"></div>
  </div>
    <div class="profile">
      <header class="frame-parent">
        <div class="madelyn-torff-wrapper">
          <b class="madelyn-torff">AIex engineer</b>
        </div>
        <div class="nav-wrapper">
          <div class="nav">
            <div class="tab-default">
              <a class="sobre" href="{% url 'home' %}">Home</a>
            </div>
            <div class="tab-default">
              <a class="sobre" href="#About-me-section">About me</a>
            </div>
            
            


          </div>
          <div class="tab-Hamburger">
            <button class="hamburger" onclick="openNav()">
      
              <img
                class="hamburger-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/menu-hamburger.png' %}"
              />
          </button>

          </div>
        </div>
        <div class="footer-icons">
          <div class="icons">
            <img
              class="github"
              loading="lazy"
              alt=""
              src="{% static 'public/github.png' %}"
              onclick="openGitHub()"
            />

            <img
              class="phinstagram-logo-fill-icon"
              loading="lazy"
              alt="LinkedIn"
              src="{% static 'public/bilinkedin.svg' %}"
              onclick="openLinkedIn()"
            />

            <img
              class="phinstagram-logo-fill-icon"
              loading="lazy"
              alt=""
              src="{% static 'public/bienvelopefill.svg' %}"
              onclick="openEmail()"
            />
          </div>
        </div>


      </header>
      
      <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="#About-me-section">About me</a>
      </div>

      <section class="title-container-wrapper" id="Presentation-section">
        <div class="title-container">
          <div class="title-wrapper">
            <h1 class="title">Presentation</h1>
          </div>
          <video class="presentation-video" controls>
            <source src="{{ MEDIA_URL }}public/presentation-video.mp4" type="video/mp4">
        </video>
        </div>
      </section>
    </div>

    <!-- cv
    {% include 'c-v.html' %}  -->

    <!-- bout me -->
    <section id="About-me-section">{% include 'about-me.html' %}</section>

    <!-- footer 2 -->
    {% include 'footer.html' %}

    <script>
      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();

          document.querySelector(this.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
          });
        });
      });
    </script>
  </body>
</html>
