{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="profile-part-2">
      <header class="content">
        <div class="madelyn-torff-wrapper">
          <b class="madelyn-torff">My space AI</b>
        </div>
        <div class="nav-wrapper">
          <div class="nav">
            <div class="tab-default">
              <a class="sobre">Home</a>
            </div>
            <div class="tab-default">
              <a class="sobre">Projects</a>
            </div>
            <div class="tab-default">
              <a class="sobre">Presentation</a>
            </div>
            <div class="tab-default">
              <a class="sobre">about me</a>
            </div>
            <div class="tab-default">
              <a class="sobre">Skills</a>
            </div>
          </div>
        </div>
        <div class="footer-icons">
          <div class="icons">
            <img
              class="phinstagram-logo-fill-icon"
              loading="lazy"
              alt=""
              src="{% static 'public/phinstagramlogofill.svg' %}"
            />

            <img
              class="phinstagram-logo-fill-icon"
              loading="lazy"
              alt=""
              src="{% static 'public/bilinkedin.svg' %}"
            />

            <img
              class="phinstagram-logo-fill-icon"
              loading="lazy"
              alt=""
              src="{% static 'public/bienvelopefill.svg' %}"
            />
          </div>
          <div class="madelyn-torff-2021">Madelyn Torff 2021</div>
        </div>
      </header>
      <section class="title-container-wrapper">
        <div class="title-container">
          <div class="title-wrapper">
            <h1 class="title">Presentation</h1>
          </div>
          <img
            class="image-3-icon"
            controls
            alt=""
            src="{% static 'public/image-3@2x.png' %}"
          />
        </div>
      </section>
    </div>

     <!-- cv -->
    {% include 'c-v.html' %}

     <!-- bout me -->
    {% include 'about-me.html' %}

     <!-- footer 2 -->
    {% include 'footer.html' %}

    
  </body>
</html>
