.about-me-child {
    width: 40%;
    position: relative;
    width: 40%;
    object-fit: contain;
    max-width: 500px;
    margin-left: 20px;
}

.about {
    width: 59px;
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
}

.about-me1 {
    margin: 0;
    position: relative;
    font-size: var(--title-h1-size);
    line-height: 120%;
    font-weight: 700;
    font-family: inherit;
    text-align: left;
}

.about-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10.7px;
}

.lorem-ipsum-dolor {
    margin: 0;
}

.lorem-ipsum-dolor-container {
    position: relative;
    font-size: var(--font-size-5xl);
    line-height: 150%;
    color: var(--body);
    text-align: justify;
    margin-right: 30px;
}

.frame-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
}

.about-me,
.about-me-inner {
    display: flex;
    box-sizing: border-box;
}

.about-me-inner {
    width: 726px;
    flex-direction: column;
    align-items: center;
    place-items: center;
    padding: 0 0 39.3px;
    max-width: 100%;
}

.about-me {
    width: 100%;
    position: relative;
    background-color: var(--color-gainsboro-200);
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px 50px 0px;
    gap: 23.4px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 21.3px;
    color: var(--heading-color);
    font-family: var(--font-roboto);
}

@media screen and (max-width: 1050px) {
    .about-me1 {
        font-size: var(--font-size-32xl);
        line-height: 61px;
    }
    .frame-parent2 {
        gap: 16px;
    }
    .about-me {
        font-size: 19px;
        display: block;
    }
    .about-me-inner {
        width: 100%;
        padding: 20px 20px 20px 20px;
    }
    .about-me-child {
        width: 60%;
        position: relative;
        width: 60%;
        object-fit: contain;
        max-width: 60%;
        min-width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .about {
        font-size: 17px;
        line-height: 26px;
    }
    .about-me1 {
        font-size: var(--font-size-19xl);
        line-height: 46px;
    }
    .lorem-ipsum-dolor-container {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }
}

@media screen and (max-width: 450px) {
    .about-me-inner {
        min-width: 100%;
    }
}