.madelyn-torff {
    position: relative;
    line-height: 180%;
}

.madelyn-torff-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
}

.sobre {
    text-decoration: none;
    position: relative;
    line-height: 28px;
    font-weight: 500;
    color: inherit;
}

.tab-default {
    flex-direction: column;
    justify-content: flex-start;
}

.nav,
.nav-wrapper,
.tab-default {
    display: flex;
    align-items: flex-start;
}

.nav {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.nav-wrapper {
    width: 560px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px var(--padding-mini) 0 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: var(--body-18);
}

.phinstagram-logo-fill-icon {
    height: 48px;
    width: 48px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.madelyn-torff-2021 {
    position: relative;
    display: none;
}

.footer-icons {
    width: 178px;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-13xl);
    font-size: var(--font-size-base);
    color: var(--font-medium-emphasis);
    font-family: var(--font-nunito);
}

.frame-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--body-18-size);
    color: var(--bg-line);
    font-family: var(--font-comfortaa);
}

.ai-engineer {
    align-self: stretch;
    text-transform: uppercase;
}

.ai-engineer,
.text,
.title {
    position: relative;
}

.title {
    margin: 0;
    font-size: inherit;
    line-height: 120%;
    font-weight: 700;
    font-family: inherit;
    white-space: pre-wrap;
}

.text {
    line-height: 150%;
}

.subheadline {
    width: 486px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    font-size: var(--font-size-5xl);
    color: var(--color-dimgray);
    font-family: var(--font-nunito);
}

.text1 {
    position: relative;
    font-size: var(--body-18-size);
    line-height: 150%;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: #d9dde6;
    text-align: left;
}

.button-primary {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) var(--padding-5xl);
    background-color: var(--color-darkslategray);
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.text2 {
    position: relative;
    font-size: var(--body-18-size);
    line-height: 150%;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--bg-line);
    text-align: left;
}

.button-secondary,
.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.button-secondary {
    cursor: pointer;
    border: 2px solid var(--bg-line);
    padding: var(--padding-5xs) var(--padding-5xl);
    background-color: transparent;
    border-radius: var(--br-5xs);
}

.buttons {
    gap: var(--gap-xs);
}

.content {
    align-self: stretch;
    padding: 0 var(--padding-5xs) 30px 0;
    box-sizing: border-box;
    gap: var(--gap-13xl);
    font-size: var(--title-h1-size);
    color: var(--color-gray-100);
    font-family: var(--title-h1);
}

.content,
.intro,
.intro-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.intro {
    align-self: stretch;
    overflow: hidden;
    gap: var(--gap-xs);
}

.intro-content {
    width: 545px;
    padding: 68px 0 0;
    box-sizing: border-box;
}

.profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-gainsboro-100);
    min-width: 600px;
    min-height: 600px;
    max-width: 600px;
    max-height: 600px;
}

.whatsapp-image-2024-12-03-at-1-icon {
    position: absolute;
    width: calc(100% - 17px);
    top: 1px;
    right: 10px;
    left: 7px;
    border-radius: 300px;
    max-width: 100%;
    overflow: hidden;
    height: 600px;
    object-fit: cover;
    z-index: 1;
}

.image-content {
    height: 601px;
    flex: 1;
    position: relative;
    max-width: 100%;
}

.image-content-wrapper {
    flex: 1;
    flex-direction: row;
    min-width: 600px;
    min-height: 600px;
    max-width: 600px;
    max-height: 600px;
    padding-left: -100px;
}

.image-content-wrapper,
.intro-content-parent,
.profile,
.profile-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content-parent {
    flex: 1;
    flex-direction: row;
    gap: 15%;
    max-width: 100%;
}

.profile,
.profile-inner {
    box-sizing: border-box;
}

.profile-inner {
    width: 100%;
    flex-direction: row;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-darkslategray);
    font-family: var(--font-nunito);
}

.profile {
    width: 100%;
    position: relative;
    background-color: var(--color-gainsboro-200);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-7xs) var(--padding-22xl) 120px 120px;
    gap: 130px;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 1400px) {
    .intro-content {
        flex: 1;
    }
    .intro-content-parent {
        gap: 0px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1250px) {
    .intro-content {
        flex: 1;
    }
    .intro-content-parent {
        margin-top: 100px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1050px) {
    .nav {
        display: none;
    }
    .nav-wrapper {
        width: 15px;
    }
    .title {
        font-size: var(--font-size-32xl);
        line-height: 61px;
    }
    .intro-content {
        min-width: 100%;
    }
    .image-content-wrapper {
        flex: 1;
        margin-top: 140px;
    }
    .profile {
        width: 100%;
        position: relative;
        background-color: var(--color-gainsboro-200);
        overflow: hidden;
        flex-direction: column;
        padding: 30px 30px 30px 30px;
        gap: 0px;
        line-height: normal;
        letter-spacing: normal;
    }
    .intro-content-parent {
        gap: 0px;
        flex-wrap: wrap;
        padding: 0 0 0 0;
        margin: 50px 0 0 0;
    }
}

@media screen and (max-width: 750px) {
    .content {
        gap: 16px;
    }
    .intro-content {
        padding-top: 44px;
        box-sizing: border-box;
    }
    .intro-content-parent {
        gap: var(--gap-2xl);
    }
    .profile {
        box-sizing: border-box;
    }
    .image-content-wrapper {
        flex: 1;
        flex-direction: row;
        min-width: 400px;
        min-height: 400px;
        max-width: 400px;
        max-height: 400px;
        margin-top: 140px;
    }
    .whatsapp-image-2024-12-03-at-1-icon {
        position: relative;
        width: 400px;
        top: 1px;
        overflow: hidden;
        height: 400px;
        z-index: 1;
    }
    .image-content-wrapper {
        flex: 1;
        flex-direction: row;
        min-width: 400px;
        min-height: 400px;
        max-width: 400px;
        max-height: 400px;
    }
    .profile-picture {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: var(--color-gainsboro-100);
        min-width: 400px;
        min-height: 400px;
        max-width: 400px;
        max-height: 400px;
    }
}

@media screen and (max-width: 450px) {
    .ai-engineer {
        font-size: var(--font-size-base);
    }
    .title {
        font-size: var(--font-size-19xl);
        line-height: 46px;
    }
    .text {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }
    .profile {
        gap: 44px;
        padding-left: var(--padding-xl);
        box-sizing: border-box;
    }
}