.title12,
.title13 {
  margin: 0;
  width: 536px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.title13 {
  flex-shrink: 0;
}
.header,
.navigation,
.sub-navigation {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.sub-navigation {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}
.header,
.navigation {
  justify-content: flex-start;
}
.navigation {
  flex: 1;
  flex-direction: column;
  gap: 13.1px;
}
.header {
  width: 1041px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.title14 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.universidad-centroamericana-jo {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.p {
  margin: 0;
}
.text3 {
  width: 486px;
  height: 66px;
  position: relative;
  font-size: var(--body-18-size);
  line-height: 10%;
  font-family: var(--font-nunito);
  color: var(--color-dimgray);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.content-left {
  width: 536px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.images-removebg-preview-1-icon {
  width: 91px;
  height: 91px;
  position: relative;
  object-fit: cover;
}
.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37.7px;
}
.text4 {
  width: 487px;
  position: relative;
  font-size: var(--body-18-size);
  line-height: 10%;
  font-family: var(--font-nunito);
  color: var(--color-dimgray);
  display: inline-block;
  max-width: 100%;
}
.footer-left {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18.2px;
  max-width: 100%;
}
.title16 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 120%;
  font-weight: 700;
  font-family: var(--title-h1);
  color: var(--color-gray-100);
}
.contact-details,
.title17 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.contact-details {
  width: 486px;
  height: 78px;
  line-height: 10%;
  flex-shrink: 0;
}
.title17 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.address,
.title18 {
  align-self: stretch;
  font-size: var(--font-size-11xl);
  font-family: var(--title-h1);
  color: var(--color-gray-100);
}
.address {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  max-width: 100%;
}
.title18 {
  margin: 0;
  position: relative;
  line-height: 120%;
  font-weight: 700;
  z-index: 1;
}
.contact-info,
.footer-right {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.contact-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-right {
  gap: var(--gap-mini);
  font-size: var(--body-18-size);
  color: var(--color-dimgray);
  font-family: var(--font-nunito);
}
.background,
.content-right,
.footer,
.footer-right,
.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  flex: 1;
  flex-direction: column;
  gap: 52.8px;
  max-width: calc(100% - 113px);
}
.background,
.content-right,
.main-content {
  max-width: 100%;
}
.content-right {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-3xl);
}
.background,
.main-content {
  text-align: left;
  color: var(--color-gray-100);
  font-family: var(--title-h1);
}
.main-content {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-17xl);
  font-size: var(--font-size-11xl);
}
.background {
  width: 1440px;
  height: 800px;
  background-color: var(--color-gainsboro-200);
  overflow: hidden;
  flex-direction: column;
  padding: 107.9px 28px var(--padding-76xl) 191px;
  box-sizing: border-box;
  gap: 95.1px;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--title-h1-size);
}
@media screen and (max-width: 1200px) {
  .content-left {
    flex: 1;
  }
  .main-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .footer {
    gap: 26px;
  }
  .content-right {
    min-width: 100%;
  }
  .main-content {
    gap: var(--gap-lg);
  }
  .background {
    gap: 48px;
    padding-left: var(--padding-76xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .title12,
  .title13 {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .title14 {
    font-size: var(--body-18-size);
    line-height: 22px;
  }
  .image-gallery {
    display: none;
  }
  .title16,
  .title17,
  .title18 {
    font-size: var(--body-18-size);
    line-height: 22px;
  }
  .footer {
    max-width: 100%;
  }
  .background {
    gap: var(--gap-5xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title12,
  .title13 {
    font-size: var(--font-size-32xl);
    line-height: 61px;
  }
  .title14 {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .content-left {
    min-width: 100%;
  }
  .title16,
  .title17,
  .title18 {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
}
